// css components
.textbox{
    --pText:100px;
    --pRight:20px;
    padding-left: var(--pText);
    padding-right: var(--pRight);
     padding-top: 80px;
    .titlemain{
        @include text(40px,Pb, $lh-text, $black-cl, none);
        text-transform:uppercase ;
        font-weight: bold;
        display: inline-flex;
        align-items: center;
        &::before{
            content: '';
            width: 80px;
            height: 2px;
            background: #555;
            display: inline-block;
            position: relative;
            margin-left: -80px;
            left: -20px;

        }
        &.-yellow{
            color: $yellow-cl;
        }
        &.-white{
            color:$white-cl;
        }

    }
    .des {
        padding:10px 0 10px 0;
        color:$gray-cl;
        line-height: 24px;
        &.-white{
            color: $white-cl;
        }

    }
    &.--textright{
        text-align: right;
        padding-left: 0;
        padding-right: var(--pText);
        padding-left: var(--pRight);
        .titlemain{
            flex-direction: row-reverse;
            &::before{
                margin-left: initial;
                left: initial;
                margin-right: -80px;
                right: -20px;
            }
        }
    }
    &.--textcenter{
        padding-left: 0;
        padding-top: 0;
        padding-right: 0;
        text-align: center;
        .titlemain{
            flex-direction: column-reverse;
         
            &::before{
                margin-left: auto;
                left: initial;
                right: initial;
                margin-right: auto;
                background: $yellow-cl;
    
            }
        }
    }
    @include md{
        --pText:0px;
        --pRight:20px;
        padding-left: var(--pText);
        padding-right: var(--pRight);
         padding-top: 20px;
        .titlemain{
            &::before{
                display: none;
            }
        }
    }
    @include sm{
        .titlemain{
            font-size: 32px;
        }
    }

    
}