// css navigator (Menu)

nav{
    --heightHeader:80px;//???????????????????????????????????????/
    width: 100vw;
    height: calc(100vh - var(--heightHeader));
    position: fixed;
    top:var(--heightHeader);
    left: 0;
    background: rgb(224, 192, 192);
    z-index: 200;
    opacity: 0;
    pointer-events: none;
    @include transition(0.5s);
    // @include transform(translateX(100%));
    // @include transition(0.5s cubic-beier(0.59, 0.1, 0.23, 1.06));
    &.active{
        opacity: 1;
        pointer-events: auto;
        @include transition(0.5s);
        // @include transform(translateX(0%));
        // @include transition(0.5s cubic-beier(0.59, 0.1, 0.23, 1.06));

    }
    ul{
        width: 100%;
        position: absolute;
        top:50%;
        left:50%;
        @include transform(translate(-50%,-50%));
        li{
            a{
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                padding: 12px 0;
                display: block;
            }
        }
    }

}